<p>A request to reset your password has been made at <%= Setting.site_url %>.</p>

<p>If you did not make this request, simply ignore this email. If you did make this request just click the link below:</p>

<p><%= link_to "Continue to reset your password", edit_password_reset_url(@perishable_token) %></p>

<p>If the above link does not work, copy and paste the following code to <%= password_resets_url %></p>

<p><%= @perishable_token %></p>

<p>If you continue to have problem please feel free to contact us.</p>

<%= render 'footer' %>