<div class="required"><%= required_astrix %> denotes a required field</div>

<%= form.inputs :name => "Staff Details" do %>
  <%= form.input :username if admin? %>

  <%= render('password_fields', :form => form, :required => true) if @staff.new_record? %>

  <%= form.input :full_name %>
<% end %>

<%= form.inputs :name => "Contact Details" do %>
  <%= form.input :email, :required => false %>

  <%= form.semantic_fields_for :contact_details do |detail| %>
    <% DetailType.all.each do |detail_type| %>
      <%= detail.input "#{detail_type.id}", :label => detail_type.name,
                       :as => detail_type.field_type.to_sym, :required => false,
                       :input_html => { :value => @staff.contact_details[detail_type.id],
                         :rows => 8, :cols => 44 } %>
    <% end %>
  <% end %>
<% end %>

<%= form.inputs :name => "Administrator Fields" do %>
  <%= form.input :staff_type, :as => :select, :collection => Staff::Types, :input_html => { :name => 'staff[staff_type]' } %>

  <%= form.input :roles, :as => :select, :required => false,
                 :include_blank => false, :label => 'Roles',
                 :input_html => { :size => 7, :multiple => true } %>

  <li id="staff_start_date_input" class="string required">
    <%= form.input :start_date, :as => :string, :input_html => { :id => "datepicker" } %>
    <noscript><%= form.date_select :start_date, :order => [:day, :month, :year], :include_blank => true %></noscript>
  </li>

  <%= form.input :admin_notes, :as => :text, :required => false,
                 :input_html => { :rows => 8, :cols => 44 } if !@staff.new_record? %>
<% end if admin? %>

<%= form.inputs :name => "Change Password" do %>
  <%= form.input :current_password, :as => :password, :required => false, :input_html => { :autocomplete => 'off' } unless admin? %>
  <%= render('password_fields', :form => form) %>
<% end if !@staff.new_record? %>