<% title "Editing staff member: #{h(@staff.full_name)}" %>

<%= semantic_form_for(@staff) do |form| %>
  <%= form.semantic_errors %>
  <%= render 'form', :form => form %>
  <%= form.actions do %>
    <%= form.action :submit, :button_html => { :value => 'Save' } %>
  <% end %>
<% end %>

<% if admin? %>
  <% content_for(:tools) do %>
    <ul>
      <li><%= link_to 'Return to Staff Profile', @staff %></li>
    </ul>
  <% end %>
<% end %>