<% title "New staff member" %>

<%= semantic_form_for(@staff) do |form| %>
  <%= form.semantic_errors %>
  <%= render 'form', :form => form %>
  <%= form.actions do %>
    <%= form.action :submit %>
  <% end %>
<% end %>

<%= content_for(:tools) do %>
  <ul>
    <li><%= link_to 'Return to Staff List', staff_index_path %></li>
  </ul>
<% end %>
