<% time_period = !Chronic.parse(params[:start_date]).blank? ? "the week of #{Chronic.parse(params[:start_date]).to_date.to_s(:nz)}" : 'this week' %>
<% title "Availability of #{@staff.full_name} for #{time_period}" %>

<%= weekly_links(@time) %>

<% weekly_builder(@times, :time => @time, :with_onclick => false) do |event|  %>
  <%= event.starts_at.strftime('%I:%M%p') %> - <%= event.ends_at.strftime('%I:%M%p') %><br />
  <%= event.comment unless event.comment.blank? %>
<% end -%>

<div id="availability_controls">
  <% if @staff.availability.size > 0 %>
  <p>
    <h3>Availabilities</h3>
    <ul>
    <% @staff.availability.sort_by(&:start_date).each do |availability| %>
      <% content_tag('li') do %>
        <%= link_to("#{availability.start_date.to_s(:nz)} - #{availability.end_date.to_s(:nz)}", :start_date => availability.start_date) %>
        (
          <%= link_to 'edit', edit_staff_availability_path(@staff, availability) %> |
          <%= link_to 'split', split_staff_availability_path(@staff, availability) %> |
          <%= link_to 'remove', staff_availability_path(@staff, availability), :confirm => 'Are you sure?', :method => :delete %>
        )
        <%= "*" if @availabilities.include?(availability) %>
      <% end %>
    <% end %>
    </ul>
    * indicates this availability is being shown on the weekly view above
  </p>
  <% end %>
</div>

<% content_for(:tools) do %>
<ul>
  <li><%= link_to 'Add Availability', new_staff_availability_path(@staff, :start_date => params[:start_date]) %></li>
</ul>
<% end %>
