<% title "Split Availability #{@availability.start_date.to_s(:nz)} - #{@availability.end_date.to_s(:nz)}" %>

<%= semantic_form_for(@availability, :url => split_availability_form_url, :html => { :method => :post }) do |form| %>
  <%= form.semantic_errors %>
  <%= form.inputs :name => "Where would you like to split this availability?" do %>
    <li class="string required">
      <%= form.label :split_date, "Split date:" %>
      <script type='text/javascript'>
        document.write("<%= escape_javascript form.calendar_date_select(:split_date, :time => false, :valid_date_check => "date > (new Date(#{convert_date_to_js(@availability.start_date)})) && date <= (new Date(#{convert_date_to_js(@availability.end_date)}))") %> <small>(click to select date)</small>");
      </script>
      <noscript><%= form.date_select :split_date, :order => [:day, :month, :year], :include_blank => true %></noscript>
    </li>
  <% end %>
  <%= form.actions do %>
    <%= form.action :submit, :button_html => { :value => "Split Availability" } %>
  <% end %>
<% end %>

<h4>What is this split thing?</h4>

<p>
  You can split an availability into two parts. The purpose for this
  is so you can cut out time in a availability with scheduled events
  if you decide to take a holiday/personal leave in the middle of them.
  It will only split if you aren't scheduled for an event at that time.
</p>

<p>
  Two make two breaks, and thus a block of availability you're able to
  remove if you wish, split at the beginning point, then go to the second
  availability chunk, and split it there too. Here is a step by step example
  of how a split works and what the result is.
</p>

<ul>
  <li>
    You have an availability from Jan 1st to Dec 31st with events along the way.
    You decide to take a holiday from Aug 1st to Aug 15th and you know you don't
    have any rosterings during that time.
  </li>
  <li>
    You go to the availability page and click the 'split' link. you fill in the
    above split date field for Aug 1st and submit. Assuming things go well, you're
    left with two availabilities. One from Jan 1st to Jul 31st, and one from Aug 1st
    to Dec 31st.
  </li>
  <li>
    You go to the availability for Aug-Dec, and you split at Aug 16th<strong>*</strong>. You're left
    with 3 availabilities. One for Jan 1st to Jul 31st, one from Aug 1st to Aug 15th,
    and one from Aug 16th to Dec 31st.
  </li>
  <li>
    Assuming no events conflict with the middle availability slot (Aug 1st-Aug 15th),
    you should now be able to delete that availability, rendering that time unavailable.
  </li>
</ul>

<p>
  <strong>*</strong> it splits at the beginning of the day you choose (12am), not at the end of it. So if
  you intend to still be on holiday on the 15th, you choose the day after (think of it as
  the day you return).
</p>
